.boxGridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* body {
	font-family: "Poppins", sans-serif;
} */
html {
	height: 100%;
	width: 100%;
	background-color: #000000;
	color: white;
}

.pageTitle {
	font-size: 30px;
	text-align: center;
	color: #ffe053;
}

.inputs {
	border: 1px solid #ff6f01;
	background-color: #ff9e53;
	color: #fff;
	font-size: 20px;
	text-align: center;
	min-width: 50%;
}

.inputs::placeholder {
	color: #fff;
}

.submitBtn {
	border: 1px solid #ff6e00;
	background-color: #ff9e4a;
	color: #fff;
	font-size: 20px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.submitBtn:hover {
	color: #ff9e4a;
	background-color: #fff;
}

.submitBtn:disabled {
	cursor: not-allowed;
	background-color: rgba(0, 0, 0, 0.5);
	color: grey;
	border-color: rgba(0, 0, 0, 0.5);
}

.contentContainer {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 20px;
}

.boxGrid {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 700px) {
	.contentContainer {
		grid-template-columns: unset;
		grid-template-rows: 1fr 3fr;
	}

	.boxGrid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.pageTitle {
		font-size: 20px;
	}
}

.boxNumbers {
	color: white;
	background-color: tomato;
}
